APP_HOST=0.0.0.0
APP_PORT=3000
NODE_ENV="production"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME="receipt_flow"
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=